.cartItemWrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.cartItemImg{
    width: 100px;
    height: auto;
}
.cartItemButton{
    padding: 10px;
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartItemName{
    width: 100px;
    text-align: left;
}
.cartItemPrice{
    width: 100px;
    text-align: left;
}
.cartItemQuantity{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartItemOverallPrice{
    width: 150px;
}