@import "src/styles/_colors.scss";


.home{
    height: calc(100vh - 85px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    .hero__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $secondary;
        letter-spacing: -0.05rem;
        
        .hero__paragraph__container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-size: 36px;
            text-align: center;
    
            .hero__paragraph{
                padding: 20px 0px 0px 20px;
                
                &--marked{
                    color: $accent2;

                }
                
                &__slave{
                    padding: 40px 0px 0px 20px;
                    font-size: .75em;
                }
            }
        }
        .hero__img{       
            padding: 20px;
            width: clamp(300px,60vw,650px);
        }
    }
    .wave__img{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        transform: translateY(50px);
    }
    .indicator__container{
        display: none;
    }
}


@media screen and (min-width: 1024px) {

    .home{
        height: calc(100vh - 170px);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        .hero__container{
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding-top: 40px;
            .hero__paragraph__container{
                width: 50%;
                align-items: flex-start;
    
                .hero__paragraph{
                    font-size: 5vw;
                    text-align: left;
    
                    &__slave{
                        text-align: left;
                        width: 65%;
                        font-size: 1.5vw;

                    }
                }
            }

            .hero__img{       
                padding: 20px;
                width: 40vw;
                max-width: 700px;
            
            }
        }
    
        .indicator__container{
            display: grid;
            place-content: center;
            width: 100%;
            transform: translateY(-50px);

        }
    
        @keyframes move {
            from{
                transform: translateY(5px);

            }
            to{
                transform: translateY(50px);

            }
        }
    }
}