@import "src/styles/_colors.scss";

*{
    color: $secondary;
}

.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 145px 60px 0 120px;
    width: 100%;

}
.hero__paragraph{
    font-size: 90px;
    width: 950px;
    letter-spacing: -5px;

    &--marked{
        color: $accent2;
    }
    
    &__slave{
        font-size: 25px;
        width: 530px;
    }
}
