@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.orderFormWrapper{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(25, 34, 43, 0.35);
}
.orderFormBody{
    background: linear-gradient(223.14deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.114583) 32.29%, rgba(221, 50, 30, 0.2) 97.46%, rgba(0, 0, 0, 0) 100%), #19222B;
    border-radius: 15px;
    width: 635px;
    height: 655px;
}
.orderFormHeader{
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 80px;
}
.orderFormSteps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 60px;
    border-top:3px solid #474E55;
    border-bottom:3px solid #474E55;
}
.orderFormStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: white;
}
.orderFormStep:nth-child(2){
    border-left: 3px solid #474E55;
    border-right: 3px solid #474E55;
}
.img1{
    width: 50px;
    height: auto;
    cursor: pointer;
}
.twoCol{
    color: #fff;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thrCol{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}
.orderForm{
    display: grid;
    grid-template-rows: 1fr 100px;
    width: 100%;
    height: 77%;
}
.bottomCol1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 30px;
}
.bottomCol2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.orderFormButton{
    width: 40%;
    height: 64px;
    font-size: 24px;
    cursor: pointer;
}

.paymentButton{
    width: 20%;
    height: 50px;
    font-weight: bold;
    transform: translate(220px);

}