.menuLinksWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.menuLinksWrapper > li{
    border-bottom: 3px solid #464E55 ;
    width: calc(30% + 3em);
    text-align: center;
    margin-bottom: 3vh;
    font-size: calc(2em + 4px);
    list-style: none;
}