*{
    /* font-family: "Maven Pro"; */
}
.contactWrapper{
    display: flex;
    flex-direction: column;
}
.textAreaLabel{
    font-size: 20px;
    color: #fff;
}
.title{
    /* font-family: "Maven Pro"; */
    width: 500px;
    border-bottom: 3px solid #474E55;
    margin-bottom: 70px;
    font-size: 28px;
    color: #fff;
}
.radioLabel{
    font-family: "Maven Pro";
    width: 300px;
    border-bottom: 3px solid #474E55;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
}
.submit{
    background-color: #474E55;
    color: #fff;
    font-family: "Maven Pro";
    border: solid transparent 3px;
    border-radius: 3px;
    padding: 3px 30px 3px 30px;
    position: relative;
    top: 20px;
    left: 220px;
}