
.contactWrapper{
    width: 100%;
    height: 100%;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    
}

.textAreaLabel{
    font-size: 20px;
    color: #fff;
}

.title{
    width: 40%;
    border-bottom: 3px solid #474E55;
    margin-bottom: 50px;
    font-size: 28px;
    color: #fff;
}
.topSpace{
    padding-top: 15px;
}

.submit{
    width: 100px;
    height: 30px;
    background-color: var(--border);
    color: #fff;
    font-family: "Maven Pro";
    margin-top: 10px;
}
input{
    font-weight: 500;
    accent-color: #DD321E;
}
