
.contactWrapper{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
    padding-left: 30px;
    width: 90%;
    height: 90%;
}

.textAreaLabel{
    font-size: 20px;
    color: #fff;
}

.title{
    width: 40%;
    border-bottom: 3px solid #474E55;
    margin-bottom: 50px;
    font-size: 28px;
    color: #fff;
}
.topSpace{
    padding-top: 50px;
}

.submit{
    background-color: #474E55;
    color: #fff;
    font-family: "Maven Pro";
    border: solid transparent 3px;
    border-radius: 3px;
    padding: 3px 30px 3px 30px;
    position: relative;
    top: 20px;
    left: 220px;
}
