.line_1, .line_2 , .line_3{
    background-color: #FFFFFF;
    width: 100%;
    height: 3px;

}

.lines{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 2rem;
    height: 2rem;

}

.lineBox{
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}

.lineBox:hover{
    opacity: 0;
    visibility: hidden;

}   

@keyframes rotation_1 {

    from{

    }

    to{

    }
    
}