@import "src/styles/_colors.scss";

.preview__leftblock{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 175px;
    height: 175px;
    border-radius: 30px;
    background-color: white;

    &__img{
        width: 125px;
        height: 125px;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));

    }

    &__name{
        font-size: 20px;
        color: #0A2E36;

    }
}

.preview__leftblock::before{
    position: absolute;
    content: "";
    width: 175px;
    height: 175px;
    background-color: #0E6E46;
    border-radius: 30px;
    transform: translate(-5px,5px);
    z-index: -1;

}

@media screen and (min-width: 769px){
    
    .preview__leftblock{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        background-color: white;
    
        &__img{
            width: 192.5px;
            height: 192.5px;
            filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));

        }

        &__name{
            font-size: 27.5px;
            color: #0A2E36;
        }
    }

    .preview__leftblock::before{
        position: absolute;
        content: "";
        width: 300px;
        height: 300px;
        background-color: #0E6E46;
        border-radius: 30px;
        transform: translate(-10px,10px);
        z-index: -1;

    }
} 

@media screen and (min-width: 1024px){
    
    .preview__leftblock{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 420px;
        height: 420px;
        border-radius: 30px;
        background-color: white;
    
        &__img{
            width: 260px;
            height: 260px;
            filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));

        }

        &__name{
            font-size: 35px;
            color: #0A2E36;
        }
    }

    .preview__leftblock::before{
        position: absolute;
        content: "";
        width: 420px;
        height: 420px;
        background-color: #0E6E46;
        border-radius: 30px;
        transform: translate(-15px,15px);
        z-index: -1;

    }
} 

