.formInputWrapper{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.formInput{
    font-family: "Maven Pro";
    background-color: transparent;
    border:none;
    border-bottom: 3px solid #474E55;
    width: 300px;
    font-size: 20px;
    color: #fff;
}
.formInput::placeholder{
    color: #fff;
}
.formInputError{
    color: red;
    font-family: "Maven Pro";
    width: 100%;
}