.devider{
    width: 100%;
    color: #464E55;
}
.saladOption{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
*{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.saladsOrganizer{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    gap: 15px;
}
header>h1{
    font-size: 2rem;
    Padding: 15px;
}
.saladArt{
    width:65%;
    padding-left: 20px;
}